body{
  background-color: #2f3778;
  color: #f9fbff;
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
}

.main-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 10% 0px 10%;
  font-size: 20px;
}
.steps strong{
  color:#4cc1c5;
}

.steps div{
  margin-bottom: 10px;
}

.content-wrapper p{
  max-width: 600px;
  font-size: 18px;
}

